<div class="display-inline-block card card-rounded bg-info px-3 mt-2 mx-2">
  <h1>Your Dashboard</h1>
</div>
</header>
<main class="container container-fluid mt-5">

<div class="display-flex flex-column">
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    {{#each posts as |post|}}
    <div class="row post bg-light mb-4 justify-space-between">
      <div>
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col">
        <p>posted on: {{format_date post.date_created}}</p>
      </div>
      <button class="btn btn-sm btn-danger delete-post" data-id="{{post.id}}">DELETE</button>
    </div>
    {{/each}}
  </div>
  {{/if}}
<div class="row">
  <a class="btn btn-lg btn-info new-post" href="/newpost">+ New Post</a>
</div>
</div>
<script src="/js/profile.js"></script>
